.submittedPoint {
  display: flex;
  justify-content: space-between;
}

.hiddenPopup {
  border-radius: 5px;
  border: 1px solid transparent;
  padding: 1rem;
  background-color: white;
  opacity: 0;
}

.showPopup {
  border-radius: 5px;
  border: 1px solid transparent;
  padding: 1rem;
  background-color: white;
  opacity: 1;
}

.popupAnimation {
  transition: opacity 0.3s ease-in-out;
}
