.primary,
.secondary {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  box-shadow: 0px 3px 5px #888888;
  border-radius: 8px;
  padding: 10px;
  font-size: 1rem;
  width: 100%;

  span {
    flex-grow: 1;
  }
}

.primary {
  background-color: #2267f2;
  color: white;
  border-color: transparent;
}

.secondary {
  background-color: white;
  color: #2267f2;
  border: 1px solid #2267f2;
}
