.button {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  box-shadow: $lightShadow;
  border-radius: $borderRadius;
  padding: $base;
  border: 1px solid $blue;
  background-color: $blue;
  color: $white;
  width: fit-content;

  &.secondary {
    background-color: $white;
    color: $blue;
  }

  &[disabled] {
    border-color: transparent;
    background-color: $grey;
    cursor: default;
  }

  &.fullWidth {
    width: 100%;
  }

  .marginedIcon {
    margin-left: 1rem;
  }

  span {
    font-weight: bold;
  }
}

.small {
  height: 6px;
  width: 6px;
}

.square {
  border-radius: 3px;
}

.pointer {
  cursor: pointer;
}
