.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  input {
    margin-bottom: $base;
  }

  h2 {
    margin-bottom: $base;
  }

  button {
    margin-top: $base;
  }

  .avatar {
    align-self: center;
  }

  .buttonContainer {
    margin-top: 2rem;
  }

  @media only screen and (max-width: 600px) {
    .formContainer {
      width: auto;
      box-shadow: none;
      border: none;
    }

    .cameraIcon {
      display: none;
    }
  }
}
