.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  div {
    hr {
      margin: 15px 0px;
    }

    p {
      margin: 10px 0px;
    }
  }
}

.custom-button {
  width: 180px;
}

@media only screen and (max-width: 600px) {
  .container > div {
    width: 90%;
  }
}
