.boxContainer {
  display: flex;
  flex-wrap: wrap;

  .box {
    margin: 1rem;
  }
}

.input {
  margin-top: 1rem;
  margin-bottom: 1rem;
  box-shadow: $lightShadow;
}

.submit {
  display: flex;
  justify-content: center;
}
