.boxContainer {
  display: flex;
  flex-wrap: wrap;

  .box {
    margin: 1rem;
  }
}

.input {
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
  box-shadow: $lightShadow;
}

.submit {
  display: flex;
  justify-content: center;
}

.title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.jiraDomain {
  margin: 0.5rem 0;
}

.roomCodeInput {
  width: 350px;
}

.closeButton {
  cursor: pointer;
}
