.container {
  position: relative;
  width: fit-content;
  margin: $base;
  color: $grey;

  .circle {
    padding: $base;
    border: $grey 1px solid;
    border-radius: 50%;
  }

  .camera {
    position: absolute;
    bottom: calc(#{$small} / 2);
    right: $small;
  }
}
