.board {
  border: 1px solid #edeaea;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: 1rem;

  span {
    font-weight: 400;
    word-spacing: 3px;
  }
  overflow-y: auto;
}

.title {
  width: 750px;
}

.icon {
  margin-left: 3px;
}

.content {
  flex: 1;
  overflow-y: auto;
  word-break: break-word;
}

.assign {
  display: flex;
  align-items: center;
}

.assignee {
  display: flex;
  align-items: center;
  margin-left: 1rem;
}

.point {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 2rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  overflow-wrap: break-word;
}

.customPoint {
  background-color: rgb(34, 103, 442);
  margin-left: 0.5rem;
}

.submitPoint {
  display: flex;
  align-items: center;
}

.submit {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  font-size: 1.9rem;
  height: 100%;
  justify-content: space-between;
  cursor: pointer;
}

.pointContainerHost {
  display: flex;
  align-items: center;
  border: 1px solid #2267f2;
  background-color: #2267f2;
  color: white;
  border-radius: 5px;
  padding: 0.4rem 0.5rem;
  width: 98px;
  height: 78px;
  justify-content: space-between;

  .pointWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}

.pointContainerPlayer {
  display: flex;
  align-items: center;
  border: 1px solid #2267f2;
  background-color: #2267f2;
  color: white;
  border-radius: 5px;
  padding: 0.8rem;
  width: 60px;
  justify-content: center;
}

.isDisabled {
  border: 1px solid #9b9c9d;
  background-color: #9b9c9d;
}
