.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .card {
    width: 450px;
  }

  h2 {
    margin-bottom: $base;
  }

  a {
    margin-top: $base;
  }

  @media only screen and (max-width: 600px) {
    .card {
      box-shadow: none;
      border: none;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;

      button {
        width: 100%;
        margin: 1rem 0px;
      }
    }
  }
}
