.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  h2 {
    margin-bottom: $base;
  }

  a {
    margin-top: $base;
  }

  @media only screen and (max-width: $sm) {
    .card {
      box-shadow: none;
      border: none;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
    }
  }
}
